.sectionMotivation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	margin-top: 6.4rem;

  .sectionMotivationContent_1,
  .sectionMotivationContent_2 {
    width: 100%;
    height: 100%;
   	margin: 0 auto;
    display: flex;
		padding: 0 2.4rem;

		@media(min-width: 1280px){
			padding: 0;
		}
  }

  .sectionMotivationContent_1 {
		align-items: center;
		justify-content: flex-end;

    .sectionMotivationTitle {
			width: 100%;
      font-size: $fs-h2-mobile;
      font-weight: 800;
      color: $secondary-xiketic-1;
      padding: 0;
			margin: 0;
      padding-bottom: 1.6rem;
			text-align: center;

			@media( min-width: 768px){
				text-align: right;
				max-width: 50rem;
			}
			@media(min-width: 1280px){
				font-size: $fs-h1-desktop;
				width: 100%;
				max-width: 80rem;

			}
      .titleUltramarine {
        color: $accent-ultramarine-1;
        font-weight: 800;
      }
    }
  }

  .sectionMotivationGoals {
    background: $gradient-5;
    width: 100%;

    .sectionMotivationContent_2 {
      display: flex;
      flex-direction: column;
			padding-top: 2.4rem;

      .sectionMotivationGoalsContent {
        width: 100%;
				height: 100%;
        display: flex;
				align-items: center;
				flex-direction: column;
				gap: 3.2rem;
				@media( min-width: 1024px){
					flex-direction: row;
					gap: 3.2rem;
					flex-wrap: wrap;
					justify-content: center;
				}
				@media( min-width: 1280px){
					flex-direction: row;
					gap: 2rem;
					justify-content: center;
				}


        .sectionMotivationGoal {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: baseline;
					width: 100%;
					height: 100%;
          background: $gray-12;
          border-radius: 8px;
					padding: 3.2rem;
          position: relative;
          z-index: 1;
          color: $secondary-xiketic-3;
          transition: color 990ms ease;
					@media(min-width: 768px){
						max-width: 40rem;
						padding: 3.2rem 6.4rem;
					}

          &:hover {
            color: $gray-12;
          }

          &::before {
            content: '';
						margin: 0 2.4rem;
            border-bottom: 2px solid $accent-ultramarine-1;
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
						transform: translateY( -50% );
            transition: border-bottom 990ms ease;
						@media(min-width: 768px){
							margin: 0 6.4rem;
						}
          }
          &:hover::before {
            border-bottom: 2px solid $gray-12;
          }

          &::after {
            content: '';
            width: 100%;
            height: 0;
            position: absolute;
            top: 0;
            left: 0;
            transition: 1s linear;
            opacity: 0;
            z-index: -1;
            border-radius: 8px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
          }
          &:hover::after {
            opacity: 1;
            height: 100%;
            background: $primary-byzantine-0;
          }

          .sectionMotivationGoalHeader {
            width: 100%;
            display: flex;
            align-items: center;
						justify-content: space-between;

						.sectionMotivationIcon{
							width: 100%;
							height: 60px;
							max-width: 60px;
						}
            .sectionMotivationGoalSubtitle {
							width: 100%;
              font-size: $fs-subtitle2-mobile;
              font-weight: 800;
              margin: 0;
							margin-left: 0.8rem;
							text-align: center;
							@media(min-width: 768px){
								margin-left: 1.6rem;
								text-align: left;
								font-size: $fs-subtitle2-desktop;
								letter-spacing: 1px;
							}

            }
          }
          .sectionMotivationGoalDescription {
            width: 100%;
            display: flex;
            font-size: $text-sm;
            font-weight: 500;
            text-align: center;
            margin: 0;
            padding: 0;
            margin-top: 4.8rem;
						@media(min-width: 768px){
							text-align: center;
							font-size: $text-md;
						}
          }
        }
        .sectionMotivationGoal_1,
        .sectionMotivationGoal_2,
        .sectionMotivationGoal_3 {
          position: relative;
          display: flex;
					width: 100%;
					height: 100%;
					max-height: 24.8rem;
          max-width: 40rem;
          border-radius: 8px;
        }

        .sectionMotivationGoal_1 {
          order: 2;
          border-top: 8px solid $accent-ultramarine-1;
          color: $accent-ultramarine-1;
          &::before {
            border-bottom: 2px solid $accent-ultramarine-1;
          }
          &:hover::after {
            background: $accent-ultramarine-1;
          }
        }
        .sectionMotivationGoal_2 {
          border-top: 8px solid $primary-byzantine-1;
          color: $primary-byzantine-1;
          &::before {
            border-bottom: 2px solid $primary-byzantine-1;
          }
          &:hover::after {
            background: $primary-byzantine-1;
          }
        }
        .sectionMotivationGoal_3 {
          border-top: 8px solid #8b4ea8;
          color: #8b4ea8;
          &::before {
            border-bottom: 2px solid #8b4ea8;
          }

          &:hover::after {
            background: #8b4ea8;
          }
        }
      }
    }
  }
}
