.lottieAnimation{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8.4rem;
  position: fixed;
  padding: 0 2.4rem;
}
.lottieAnimationContent{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.4rem;
}

.soon{
  font-size: $fs-h1-mobile;
  font-weight: 800;
  color: $accent-ultramarine-3;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.description{
  text-align: center;
  font-size: $fs-subtitle1-mobile;
  color: $secondary-skyMagenta-1;
  font-weight: 600;
  padding: 0;
  margin: 0;
}


@media (min-width: 768px) {
  .lottie{
    width: 800px;
    height: 640px ;
  }
  
  .soon{
    font-size: $fs-h1-desktop;
  }

  .description{
    font-size: $fs-subtitle1-desktop;
  }
}

@media (min-width: 1440px) {
  .lottieAnimation{
    padding: 0;
  }
}