.sectionContact{
  width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 10rem;
	.sectionContactContent{
		.sectionContactTitle{
			font-size: $fs-h2-desktop;
			color: $secondary-xiketic-2;
			font-weight: 800;
			margin: 0;
		}
	}

	.sectionContactForm{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 6.4rem 0;
		width: 100%;
		background-image: url('../../../public/shapes/blob-contact.svg');
		background-repeat: no-repeat;
		background-size: cover;

		.sectionContactFormTextArea{
			width: 60.8rem;
			display: flex;
			flex-direction: column;
			margin-top: 1.6rem;

			.sectionContactFormLabel{
				font-size: $fs-subtitle2-desktop;
				font-weight: 700;
				color: $secondary-xiketic-2;
				align-self: flex-start;
				margin-bottom: 0.8rem;
			}

			textarea{
				border-radius: 12px;
        width: 100%;
				height: 18.4rem ;
				padding: 2.4rem 1.6rem;
				resize: none;
				font-family: 'Mulish', sans-serif;
				font-size: $text-md;
			}

		}

		.sectionContactSubmit{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 19.2rem;
			height: 4rem;
			border: none;
			border-radius: 12px;
			font-size: $fs-btn-link-l;
			color: $gray-12;
			background: $gradient-4;
			margin-top: 4rem;

			&:hover{
				background: $gradient-0;
			}

			img{
				margin-left: 0.8rem;
			}
		}


	}
}
