.sectionAbout{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100;
	margin-top: 16rem;

	.sectionAboutContent{
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.sectionAboutDescription{
			width: 600px;
			height: 648px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background: no-repeat url("../../../public/img/background-about.svg");
			background-position: center;

			.sectionAboutTitle{
				width: 48rem;
				margin: 0;
				position: relative;
				font-size: $fs-h2-desktop;
				font-weight: 800;
				padding-bottom: 1.6rem;
				color: $secondary-xiketic-1;

				.titleByzantine{
					color: $primary-byzantine-1;
					font-weight: 800;
				}

		/* 		&::after{
					content: "";
					width: 9.2rem;
					margin-right: 0.4rem;
					border-bottom: 2px solid $primary-byzantine-0;
					position: absolute;
					top: 0;
         	right: 0;
					bottom: 0;
				} */
			}

			.sectionAboutInfo_1,
			.sectionAboutInfo_2{
				font-size: $text-lg;
				color: $secondary-xiketic-2;
				margin: 0;
				text-align: center;
				line-height: 2.6rem;
			}

			.sectionAboutInfo_1{
				margin-top: 2.4rem;
			}
			.sectionAboutInfo_2{
				margin-top: 1.6rem;
			}
			.titleByzantine{
				color: $primary-byzantine-1;
				font-weight: 600;
			}
			.titleAccent{
				color: $accent-ultramarine-1;
				font-weight: 600;
			}

			.sectionAboutGreeting{
				font-size: $fs-subtitle2-desktop;
				font-weight: 800;
				color: $secondary-xiketic-2;
				margin-top: 1.6rem;
				margin-bottom: 3.2rem;

				.sectionAboutGreetingGradient{
					font-weight: 800;
					background: $gradient-1;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}

		}
	}
}
