.sectionSubscribe{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: $gradient-6;
	padding-top: 7.2rem;

	.sectionSubscribeContent{
		display: flex;
		flex-direction: column;
		width: 100%;
		color: $gray-12;

		.sectionSubscribeTitle{
			font-size: $fs-h2-desktop;
			text-align: left;
			color: $secondary-xiketic-1;
			font-weight: 800;
			//-webkit-text-stroke: 1px $secondary-xiketic-1;
			/*letter-spacing: 2px;
			text-shadow:
			-1px -1px 0 $secondary-xiketic-1,
			 1px -1px 0 $secondary-xiketic-1,
			 -1px 1px 0 $secondary-xiketic-1,
				1px 1px 0 $secondary-xiketic-1;*/

				.sectionSubscribeTitleGradient{
					font-weight: 800;
					background: linear-gradient(175deg, #A84E61 0%, #470FF4 100%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
					text-fill-color: transparent;

				}

		}

		.sectionSubscribeAction{
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			.sectionSubscribeRoles{
				width: 100%;
				display: flex;
				flex-direction: row-reverse;
				align-items: center;
				justify-content: space-around;
				margin-top: 4.8rem;

				.sectionSubscribeRoleIllustrator,
				.sectionSubscribeRoleTeacher{
					width: 400px;
					height: auto;
					border-radius: 20px;
					background: $gray-12;
					padding: 0 2.4rem;
					padding-top: 2.4rem;
					display: flex;
					flex-direction: column;
				}

				.sectionSubscribeRoleHeader{
					display: inline-flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					position: relative;

					.sectionSubscribeRoleSubtitle{
						display: inline-flex;
						align-items: center;
						justify-content: center;
						position: absolute;
						text-align: center;
						font-size: $fs-h3-desktop;
						font-weight: 800;
						margin: 0;
						border-radius: 20px;
					}
				}

				.sectionSubscribeRoleDescription{
					margin: 0;
					margin: 2.4rem 0;
					margin-top: 6.4rem;
					font-size: $text-lg;
					font-weight: 400;
					color: $secondary-xiketic-2;
					line-height: 2.6rem;
					display: flex;
					justify-content: center;
				}
				.sectionSubscribeRoleDescriptionTeacher{
					color: $accent-ultramarine-2;
					position: relative;
					&::before{
						content: "";
						width: 19.2rem;
						border-bottom: 2px solid $accent-ultramarine-2;
						position: absolute;
						top: -24px;
					}
				}
				.sectionSubscribeRoleDescriptionIllustrator{
					color: $primary-byzantine-2;
					position: relative;
					&::before{
						content: "";
						width: 19.2rem;
						border-bottom: 2px solid $primary-byzantine-2;
						position: absolute;
						top: -24px;
					}
				}
				.sectionSubscribeRoleLink{
					margin-bottom: 2.4rem;
				}

			}
		}
	}
}
