@import url('./theme/base.css');

html {
    font-size: 62.5%; 
  }

  html,
  body {
    padding: 0;
    margin: 0;
    font-family: "Mulish",  sans-serif;
    /*font-family: "Euclid Circular B Medium", sans-serif;*/
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  button {
    cursor: pointer;
  }

  * {
    box-sizing: border-box;
  }

  .container{
    max-width: 131.2rem;
  }

