html {
    font-size: 62.5%;
		scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Mulish",  sans-serif;
  /*font-family: "Euclid Circular B Medium", sans-serif;*/
	background-color: $gray-12;
}


a {
  color: inherit;
   text-decoration: none;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.container{
  max-width: 131.2rem;
}
