.inputFieldGroup{
	display: flex;
	flex-direction: column;
	margin-top: 2.4rem;

	.inputFieldLabel{
		font-size: $text-md;
		font-weight: 700;
		color: $secondary-xiketic-2;
		margin-bottom: 0.4rem;

	}

	.inputFieldInput{
		border-radius: 12px;
		height: 3.2rem;
		border: 1px solid $gray-7;
		padding-left: 1.6rem;
		color: $secondary-xiketic-2;
		font-family: 'Mulish', sans-serif;
		font-size: $text-md;
	}
}
