.sectionRecommend{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: $gradient-7;
	padding-bottom: 10.4rem;

	.sectionRecommendContent{
		width: 100%;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		display: flex;
		padding: 0 2.4rem;
		display: flex;
		@media(min-width: 1280px){
			margin-top: 8rem;
			flex-direction: row;
			align-items: flex-start;
		}


		.sectionRecommendDescription{
			width: 100%;
			max-width: 600px;

			.sectionRecommendTitle{
				color: $secondary-xiketic-1;
				font-size: $fs-h2-mobile;
				font-weight: 800;
				text-align: center;

				@media(min-width: 1280px){
					font-size: $fs-h2-desktop;
					text-align: left;
				}

				.titleGradient{
					background: $gradient-0;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					font-weight: 800;
				}
			}

			.sectionRecommendSubtitle{
				color: $secondary-xiketic-2;
				font-size: $fs-subtitle2-mobile;
				font-weight: 800;
				text-align: center;
				@media(min-width: 1280px){
					font-size: $fs-subtitle2-desktop;
					text-align: left;
				}
			}
		}

		.sectionRecommendForm{
			width: 100%;
			max-width: 480px;
			display: flex;
			//padding: 1.6rem 4.0rem;
			padding: 2.4rem;
			flex-direction: column;
			background: $gray-12;
			border-radius: 12px;

			.sectionRecommendFormFunctionLabel{
				font-size: $text-md;
				font-weight: 700;
				color: $secondary-xiketic-2;
				margin-top: 2.4rem;
				margin-bottom: 0.8rem;
			}

			.sectionRecommendFormFunctionSelect{
				height: 3.2rem;
				border-radius: 8px;
				padding: 0 1.6rem;
				appearance: none;
				background-image: url('../../../../public/icons/arrow-down.svg');
				background-repeat: no-repeat;
				background-position: center right 16px;
				border: none;
				border: 1px solid $gray-7;
				background-color: transparent;
				font-family: 'Mulish', sans-serif;
				color: $secondary-xiketic-3;
				margin-bottom: 3.2rem;
				cursor: pointer;
			}
			.sectionRecommendFormAddress{
				width: 100%;
				display: flex;
				flex-direction: column;

				@media(min-width: 768px){
					flex-direction: row;
					&:not(:first-child){
						flex-grow: 1;
					}
				}
			}
		}
	}
}
