.header{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 2.4rem;
	position: sticky;
	top: 0;
	background: $gray-12;
	border-bottom: 1px solid $primary-byzantine-6;
	z-index: 3;

  @media (min-width: 1440px) {
    padding: 0;
  }

  .headerContent{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .headerNav{
			height: 80px;
      display: flex;
			align-items: center;
			justify-content: center;
      .headerNavLink{
        display: inline-flex;
				height: 80px;
				padding: 3.2rem;
        font-size: $fs-btn-link-m;
				color: $secondary-xiketic-2;
        font-weight: 600;
        position: relative;
				&::after{
					content: "";
					width: 100%;
					height: 0;
					position: absolute;
					top: 0;
					left: 0;
					background: $gradient-7;
					opacity: 0;
					transition: 350ms ease-out;
					z-index: -1;
				}
				&:hover::after{
				  opacity: 1;
    			height: 100%;
    			background: $gradient-7;
				}

      /*&::after{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
        &:hover::after{
          border-bottom: 3px solid $primary-byzantine-2;

        } */
      }
    }

    .headerAction{

      .headerActionSubscribe{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 17.6rem;
        height: 4rem;
        border-radius: 12px;
        background: $gradient-4;
        font-size: $fs-btn-link-m;
        font-weight: 600;
        text-transform: uppercase;
        color: $gray-12;
				transition: transform 360ms;

				&:hover{
					background: $gradient-0;
					transform: scale(1.1);
				}

				svg{
         margin-left: 8px;
				}
      }

			.headerActionLogin{
				display: inline-flex;
				align-items: center;
        justify-content: center;
				width:13.6rem;
				height: 4rem;
				border-radius: 12px;
				margin-left: 1.6rem;
				font-size: $fs-btn-link-m;
				font-weight: 600;
				text-transform: uppercase;
				color: $primary-byzantine-2;
				transition: transform 360ms;

				&:hover{
					background: $gradient-0;
					color: $gray-12;
					transform: scale(1.1);
					svg{
						fill: $gray-12;
					}
				}
				svg{
					margin-left: 8px;
					fill: $primary-byzantine-2;
				}

			}
    }
  }
}

