.header{
  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 2.4rem;
	position: sticky;
	top: 0;
	background: $gray-12;
	border-bottom: 1px solid $primary-byzantine-6;
	z-index: 3;

  @media (min-width: 1440px) {
    padding: 0;
  }

  .headerContent{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .headerNav{
			height: 88px;
      display: flex;
			align-items: center;
			justify-content: center;
      .headerNavLink{
        display: inline-flex;
				height: 88px;
				padding: 3.2rem;
        font-size: $fs-btn-link-m;
				color: $secondary-xiketic-2;
        font-weight: 600;
        position: relative;
				&::after{
					content: "";
					width: 100%;
					height: 0;
					position: absolute;
					top: 0;
					left: 0;
					background: $gradient-7;
					opacity: 0;
					transition: 550ms ease-in-out;
					z-index: -1;
				}
				&:hover::after{
				  opacity: 1;
    			height: 100%;
    			background: $gradient-7;
				}

      /*&::after{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
        &:hover::after{
          border-bottom: 3px solid $primary-byzantine-2;

        } */
      }
    }

    .headerAction{
			display: flex;

			.headerActionSubscribe{
				width: 25.6rem;
				height: 4.8rem;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				position: relative;
				border-radius: 8px;
				font-size: $fs-btn-link-m;
				font-weight: 600;
				color: $accent-ultramarine-1;
				border: 2px solid $accent-ultramarine-1;
				svg{
					fill: $accent-ultramarine-1;
					margin-left: 4px;
				}

				&:hover{
					color: $gray-12;
					svg{
						fill: $gray-12;
					}
				}
				&::after{
					content: "";
					width: 100%;
					height: 0;
					position: absolute;
					top: 0;
					left: 0;
					background: $gray-12;
					transition: 550ms ease-in-out;
					z-index: -1;

				}
				&:hover::after{
				  opacity: 1;
    			height: 100%;
    			background: $accent-ultramarine-1;
				}

			}

			.headerActionLogin{
				width: 12.8rem;
				height: 4.8rem;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				margin-left: 1.6rem;
				position: relative;
				border-radius: 8px;
				font-size: $fs-btn-link-m;
				font-weight: 600;
				color: $primary-byzantine-1;
				border: 2px solid $primary-byzantine-1;
				svg{
					fill: $primary-byzantine-1;
					margin-left: 4px;
				}

				&:hover{
					color: $gray-12;
					svg{
						fill: $gray-12;
					}
				}
				&::after{
					content: "";
					width: 100%;
					height: 0;
					position: absolute;
					top: 0;
					left: 0;
					background: $gray-12;
					transition: 550ms ease-in-out;
					z-index: -1;

				}
				&:hover::after{
				  opacity: 1;
    			height: 100%;
    			background: $primary-byzantine-1;
				}

			}
    }
  }
}

