.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 4px 2.5%;
    background-color: #FEFEFE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 15px 10px 20px rgba(229, 197, 254, 0.3);
    border-bottom: 2px solid;
    border-color: rgba(239, 220, 235, 1);
}

.search_box{
    background-color: #EEEEEF;
    border-radius: 12px;
    width: max-content;
    height: 32px;
    display: flex;
    align-items: center;
    padding-right: 32px;
    padding-left: 1em;
}

.search{
    background-color: #EEEEEF;
    padding-left: 1em;
    height: 32px;
    width: 328px;
    border: none;
    outline: none;

}

.sidebar{
    margin-top: 8em;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 270px;
    height: 600px;
    background-color: #FFFFFF;
    border-right: 2px solid;
    border-color: rgba(239, 220, 235, 1);
}

.sidebar_box{
    width: 270px;
    padding-top: 16px;
    text-align: left;
    padding-inline-start: unset;
    padding-left: 0;
}

.sidebar_item{
    width: 200px;
    height: 40px;
    display: inline-flex;
    padding: 0 16px 0 12px;
    color: #3B383D;
    text-decoration: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.sidebar_icon{
    display: inline-flex;
    margin-left: 4em;
}

.content{
    background-color: #FEFEFE;
    padding-left: 25em;
    padding-top: 1.5em;
    padding-right: 5em; 
}

.content_box{
    padding-top: 5em;
    margin-left: 120px;
    width: 856px;
}

.title_principal{
    font-family: 'Euclid Circular B';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 64px;
}

.title{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 64px;
    margin-top: 40px;
}

.content_text{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 1em;
}

.content_list{
    margin-left: 3em;
}

.content_text_value{
    width: 25em;
    font-size: 18px;
    line-height: 26px;
}

.icon{
    display: none;
}

.menu{
    display: none;
}