.sectionHero{
	display: flex;
	align-items: flex-start;
	justify-content: center;

	.sectionHeroContent{
		width: 100%;
		display: inline-flex;
		align-items: center;
		justify-content: space-between;

		.sectionHeroImage{
			align-self: flex-end;
			margin-top: 5.6rem;
		}

		.sectionHeroDescription{
			width: 53.6rem;
			display: flex;
			flex-direction: column;
			margin-top: 7.2rem;


			.sectionHeroTitle{
				padding: 0;
				margin: 0;
				margin-top: 2.4rem;
				width: 54rem;
				font-size: $fs-h1-desktop;
				line-height: 6.2rem;
				font-weight: 700;
				color: $secondary-xiketic-1;

				.titleAccent{
					color: $accent-ultramarine-1;
				}
				.titleByzantine{
					color: $primary-byzantine-1;
				}
			}

			.sectionHeroInfo{
				width: 100%;
				padding: 0;
				margin: 0;
				margin-top: 1.6rem;
				margin-bottom: 3.2rem;
				font-size: $text-lg;
				font-weight: 400;
				line-height: 3rem;
				color: $secondary-xiketic-2;

				.infoAccentUtramarine,
				.infoAccentByzantine{
					font-weight: 400;
				}

				.infoAccentUtramarine{
					color: $accent-ultramarine-1;
				}
				.infoAccentByzantine{
					color: $primary-byzantine-1;
				}

			}
		}
	}
}
