.footer{
	width: 100%;
	min-height: 47.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: $gradient-0;

	.footerContent{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 3.2rem 2.4rem;
		@media(min-width: 1280px){
			padding: 4rem 2.4rem;
		}

		.footerMainContent{
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			@media(min-width: 1280px){
				flex-direction: row;
				column-gap: 8rem;
			}
			.footerTop{
				width: 100%;
				display: flex;
				align-items: flex-start;
				flex-direction: column;
				flex-grow: 1;
				@media(min-width: 1024px){
					flex-direction: row;
					justify-content: flex-start;
					column-gap: 3.2rem;
				}
				@media(min-width: 1280px){
					flex-direction: column;
					width: auto;
				}
				.footerLogo{
					display: flex;
					align-items: baseline;
					.footerLogoIcon{
						margin-right: 12px;
					}
					.footerLogoFooter{
						max-width: 20rem;
						@media(min-width: 768px){
							max-width: 25.2rem;
						}
					}
				}

				.footerNewsletter{
					margin-bottom: 2.4rem;
					margin-top: 4rem;
					@media(min-width: 1024px){
						margin-top: 0;
					}
					@media(min-width:1280px){
						margin-top: 4.8rem;
						margin-bottom: 4.8rem;
					}
					.footerNewsletterTitle{
						font-size: $text-lg;
						font-weight: 700;
						color: $gray-10;
					}
					.footerNewsletterForm{
						display: flex;
						align-items: center;
						column-gap: 1.2rem;
						margin-top: 0.8rem;
						.footerNewsletterFormInput{
							display: flex;
							align-items: baseline;
						}
						.footerNewsletterButtonSubmit{
							display: flex;
							align-items: center;
							justify-content: center;
							align-self: flex-end;
							width: 8rem;
							height: 2.8rem;
							border: none;
							border-radius: 8px;
							font-size: $text-xsm;
							font-weight: 500;
							color: $gray-10;
							background: $gradient-4;
							&:hover{
								background: $primary-byzantine-2;
							}

							img{
								margin-left: 0.8rem;
							}
						}
					}

				}

				.footerUtils{
					width: 100%;
					max-width: 29.6rem;
					margin-top: 1.6rem;
					display: flex;
					align-items: baseline;
					justify-content: space-between;
					@media(min-width: 1024px){
						width: auto;
						margin-top: 0;
						margin-left: 6.4rem;
					}
					@media(min-width: 1280px){
						width: 100%;
						justify-content: flex-start;
						column-gap: 4.8rem;
						margin: 0;
					}

					.footerUtilsType{
						color: $gray-10;
						font-size: $text-lg;
						font-weight: 700;
						margin-bottom: 1.6rem;
					}

					.footerSocialMedia{
						width: 50%;
						display: flex;
						flex-direction: column;
						justify-content: space-between;

						a{
							display: inline-flex;
						}
						.footerLogoIcons{
							display: flex;
							column-gap: 1.6rem;
							.instagram{
								width: 24px;
								height: 24px;
								display: inline-flex;
								align-items: center;
								justify-content: center;
								border-radius: 4px;
								padding-right: 1px;
								.instagramIcon{
									width: 24px;
									height: 24px;
									//color: $accent-ultramarine-6;
									color:$gray-10;
									}
									&:hover{
										background: $gradient-instagram;
										border-radius: 4px;
								}

							}
							.linkedin{
								.linkedinIcon{
									width: 24px;
									height: 24px;
									color:$gray-10;
									&:hover{
										color: #0077b5;
										border-radius: 8px;
									}
								}
							}

						}
					}

					.footerLinks{
						display: flex;
						flex-direction: column;
						color: $gray-10;
						a{
							font-size: $text-sm;
						}
					}
				}
			}

			.footerTeam{
				width: 100%;
				display: flex;
				align-items: flex-start;
				flex-direction: column;
				justify-content: center;
				margin-top: 2.4rem;
				gap: 1.6rem;

				@media(min-width: 1024px){
					flex-direction: row;
					justify-content: flex-start;
					column-gap: 4rem;
				}
				@media(min-width: 1280px){
					flex-grow: 1;
					flex-direction: row;
					gap: 0;
					column-gap: 1.6rem;
					margin-top: 0;
				}


				.footerTeamColumn{
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: center;
					@media(min-width: 1024px){
						width: auto;

					}


					.footerTeamRole{
						font-size: $text-lg;
						font-weight: 700;
						color: $gray-10;
						margin-bottom: 1.6rem;
						&:nth-of-type(2){
							//margin-top: 2.4rem;
						}
					}
					.footerTeamMember{
						font-size: $text-lg;
						color: $gray-10;
						margin-bottom: 1.6rem;
					}
				}

			}
		}


		.footerBottom{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 4.8rem;
			.footerCopyright{
				color: $gray-10;
				font-size: $text-xsm;
			}

			.footerButtonUp{
				display: flex;
				align-items: center;
				justify-content: center;
				width: 40px;
				height: 40px;
				border: none;
				border-radius: 12px;
			}
		}

	}
}



