.sectionPartners{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	margin-top: 12rem;

	.sectionPartnersContent{
		width: 100%;
		padding: 0 2.4rem;

		.sectionPartnersTitle{
			width: 100%;
			max-width: 96rem;
			font-size: $fs-h2-mobile;
			color: $secondary-xiketic-1;
			font-weight: 800;
			position: relative;
			margin: 0;
			@media(min-width: 1280px){
				font-size: $fs-h2-desktop;
			}
			.titleGradient{
				background: $gradient-1;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				font-weight: 800;

			}
			/*&::after{
				content: "";
				width: 10rem;
				margin-right: 4rem;
				border-bottom: 2px solid $accent-ultramarine-0;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
			}*/
		}
		.sectionPartnersList{
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			@media(min-width: 768px){
				flex-direction: row;
				flex-wrap: wrap;
			}

			.sectionPartnerLogo{
				border: 0;
  			background-repeat: no-repeat;
  			background-size: contain;
  			filter: grayscale(100%);
				margin: 0 3.2rem;
				margin-top: 10.4rem;
  			&:hover {
    			filter: none;
  			}

				@media(max-width: 768px){
					width: 100%;
					max-width: 300px;

				}
			}
			.sectionPartnerLogoAiesec{
				filter: opacity(60%);
			}
		}

	}
}
