	/*PRIMARY*/
	$primary-byzantine-1: #A84E97;
	$primary-byzantine-2: #B76CA9;
	$primary-byzantine-3: #C58ABA;
	$primary-byzantine-4: #D4A8CC;
	$primary-byzantine-5: #E3C5DD;
	$primary-byzantine-6: #F1E3EF;
	$primary-byzantine-0: #662F5C;


	/*SECONDARY*/
	$secondary-skyMagenta-1: #C669B5;
	$secondary-skyMagenta-2: #D082C1;
	$secondary-skyMagenta-3: #D99CCE;
	$secondary-skyMagenta-4: #E3B5DA;
	$secondary-skyMagenta-5: #ECCEE7;
	$secondary-skyMagenta-6: #F6E7F3;

	$secondary-blueRYB-1: #4056F4;
	$secondary-blueRYB-3: #808FF8;
	$secondary-blueRYB-4: #A1ABFA;
	$secondary-blueRYB-5: #C1C8FB;
	$secondary-blueRYB-6: #E1E4FD;

	$secondary-xiketic-1: #131016;
	$secondary-xiketic-2: #3B383D;
	$secondary-xiketic-3: #636165;
	$secondary-xiketic-4: #8A898C;
	$secondary-xiketic-5: #B2B1B3;
	$secondary-xiketic-6: #DADADA;

	/*GRAY*/
	$gray-2: #484551;
	$gray-1: #33303E;
	$gray-3: #5D5A65;
	$gray-4: #717079;
	$gray-5: #86858C;
	$gray-6: #9B9AA0;
	$gray-7: #B0AFB4;
	$gray-8: #C5C4C8;
	$gray-9: #D9D9DB;
	$gray-10: #EEEEEF;
	$gray-11: #F8F8F8;
	$gray-12: #FEFEFE;

	/*ACCENT*/
	$accent-ultramarine-0: #2D0999;
	$accent-ultramarine-1: #470FF4;
	$accent-ultramarine-2: #6637F6;
	$accent-ultramarine-3: #8560F8;
	$accent-ultramarine-4: #A488FA;
	$accent-ultramarine-5: #C3B1FB;
	$accent-ultramarine-6: #E2D9FD;

	/*GRADIENT*/
	$gradient-0: linear-gradient(135deg, #662F5C 0%, #2D0999 100%);
	$gradient-1: linear-gradient(135deg, #A84E61 0%, #470FF4 100%);
	$gradient-2: linear-gradient(135deg, #DFB9D8 0%, #B59FF9 100%);
	$gradient-3:
		linear-gradient(180deg, #4056F4, #A1ABFA, #C1C8FB 33.33%, #ECCEE7 , #C669B5);
	$gradient-4:linear-gradient(131.35deg, #C46D7F -21.82%, #7551E3 124.67%)


