/*FONT-SIZE*/

:root{

  --fs-h1-desktop: 5.6rem;
  --fs-h2-desktop: 4.8rem;
  --fs-h3-desktop: 4.0rem;
  --fs-subtitle1-desktop: 3.2rem;
  --fs-subtitle2-desktop: 2.4rem;

  --fs-h1-tablet: 4.8rem;
  --fs-h2-tablet: 4.0rem;
  --fs-h3-tablet: 3.2rem;
  --fs-subtitle1-tablet:2.4rem;
  --fs-subtitle2-tablet: 2.0rem;

  --fs-h1-mobile: 3.2rem;
  --fs-h2-mobile: 2.8rem;
  --fs-h3-mobile: 2.6rem;
  --fs-subtitle1-mobile: 2.2rem;
  --fs-subtitle2-mobile: 2.0rem;

  --text-lg: 1.8rem;
  --text-md: 1.6rem;
  --text-sm: 1.4rem;
  --text-xsm: 1.2rem;
  
  --fs-btn-link-xl: 2.0rem;
  --fs-btn-link-l: 1.8rem;
  --fs-btn-link-m: 1.6rem;
  --fs-btn-link-s: 1.4rem;
}